{% extends "layout.twig" %}
{% block main %}
<h1>Произошла ошибка на сервере</h1>
<div class="col">
    <h2 class="h2 mb-4">
      Ошибка {{ actualCode|default('500') }}
    </h2>
    <p class="fs-5 text-black mb-3">Что случилось?</p>
    <p class="mb-4">Сервер не смог обработать ваш запрос</p>
    <p class="fs-5 text-black mb-3">Почему это произошло?</p>
    <p class="mb-4">{{ error|default('Неизвестно') }}</p>
    <p class="fs-5 text-black mb-3">Что делать?</p>
    <p class="mb-2">Рекомендуем вернуться <a href="{{ url_for('index') }}">на главную</a>.</p>
    <p class="mb-2">Если ошибка повторяется, то сообщите владельцу сайта</p>
  </div>
{% endblock main %}
