{% extends "index.html" %}

{% block main %}
<h1>Сайт: {{ urlInfo.name }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ urlInfo.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ urlInfo.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ urlInfo.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('checks.make', {'url_id' : urlInfo.id}) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<table class="table table-bordered table-hover" data-test="checks">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
        <!--?php foreach ($checks as $check): ?-->
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code }}</td>
            <td class="text-break">{{ check.h1 }}</td>
            <td class="text-break">{{ check.title }}</td>
            <td class="text-break">{{ check.description }}</td>
            <td>{{ check.created_at }}</td>
        </tr>            
        {% endfor %}

    </tbody>
</table>
{% endblock main %}