{% extends "index.html" %}

{% block main %}
<h1>Сайт: {{ row.name }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ row.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ row.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ row.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="/urls/1/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<table class="table table-bordered table-hover" data-test="checks">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
        <!--?php foreach ($checks as $check): ?-->
        <tr>
            <td>3</td>
            <td>200</td>
            <td class="text-break">&nbsp;</td>
            <td class="text-break">VK:n mobiiliversio | VK</td>
            <td class="text-break">VK on tehokas työkalu löytämään vanhoja ja uusia kavereita. Haluamme että ystävät,
                koulukaverit, työkaverit, naapurit jne. ovat aina yhteydessä toisiinsa.</td>
            <td>2022-11-21 13:44:55</td>
        </tr>
    </tbody>
</table>
{% endblock main %}